/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./css/style.css ***!
  \*****************************************************************/
html {
    font-size: 16px;
    font-family: "Century Gothic";
    color: rgba(21, 24, 57, 1);
    background-color: rgba(36, 47, 77, 0.38);
    /*--s: 30px; !* control the size*!*/
    /*--c1: #e5fcc2;*/
    /*--c2: #45ada8;*/

    /*--_s:37.5% 12.5% at 62.5%;*/
    /*--_g:34% 99%,#0000 101%;*/
    /*--g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));*/
    /*--g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));*/
    /*--g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));*/
    /*--g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));*/
    /*background:*/
    /*        var(--g1),*/
    /*        var(--g2) 0                calc(3*var(--s)),*/
    /*        var(--g3) var(--s)         calc(3*var(--s)),*/
    /*        var(--g4) var(--s)         calc(6*var(--s)),*/
    /*        var(--g1) calc(2*var(--s)) calc(6*var(--s)),*/
    /*        var(--g2) calc(2*var(--s)) calc(9*var(--s)),*/
    /*        var(--g3) calc(3*var(--s)) calc(9*var(--s)),*/
    /*        var(--g4) calc(3*var(--s)) 0,*/
    /*        repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);*/
    /*background-size: calc(4*var(--s)) calc(12*var(--s));*/

}


body {
    margin: 0 auto;
    width: 100%;

}

div {
    display: flex;
}

::-webkit-scrollbar {
    display: none;
}

.university {
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/*Верхнее меню*/
.menu_header {
    width: 94%;
    height: 10vh;
}

.menu {
    width: 100%;
}

.icon {
    tab-index: 1;
    align-items: center;
    cursor: pointer;
}

.icon img {
    width: 3em;
    height: 3em;
}

.icon p {
    width: 12em;
    text-align: center;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 10px;
}

.menu_items {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 50px;
}



.item {
    background-color: transparent;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-bottom-color: rgba(30, 34, 73, 0.16);
    color: #1e1e3f;
    transition: color 1s, border-bottom-width 2s, border-bottom-color 1s;
}

.item:hover {
    color: rgba(30, 34, 73, 0.57);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(30, 34, 73, 0.57);
}

.menu_items img {
    width: 3em;
    height: 3em;
    cursor: pointer;
    margin-right: 0;
    opacity: 70%;
    transition: opacity 1s;
}

.menu_items img:hover {
    opacity: 100%;
}

.mail {
    height: 50px;
    width: 200px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Century Gothic";
    font-weight: bold;
    border-style: none;
    background-color: rgba(30, 30, 63, 0.87);
    color: rgba(221, 226, 238, 1);
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: font-size 2s, color 1s;
}

.mail:hover {
    -webkit-box-shadow: 6px 6px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 6px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 6px 8px 0px rgba(34, 60, 80, 0.2);
    font-size: 17px;
    color: rgb(185, 191, 203);;
}

.popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60vw;
    height: 60vh;
    background-color: #313167;
    position: absolute;
    visibility: hidden;
    border-radius: 10px;
    max-width: 900px;
    min-width: 50vw;
    z-index: 100;
}

#blur_background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;

}

.open {
    backdrop-filter: blur(10px);
    background-color: #0000004d;
    z-index: 99 !important;
}

.empty_field {
    border-bottom-color: #e36969;
}

.full_field {
    border-bottom-color: azure;
}

#write_email_form {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    flex-direction: column;
}

#write_email_form p{
    color: #161638;
    width: 80%;
    font-size: 30px;
    margin-bottom: 0;
}

.image_ship {
    width: 40%;
}

.image_ship img {
    width: 100%;
    object-fit: cover;
    opacity: 80%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#name {
    margin-top: 70px;
}

input::-webkit-input-placeholder {
    color: rgba(155, 155, 155, 0.7);
    font-family: "Century Gothic";
}

textarea::-webkit-input-placeholder {
    color: rgba(155, 155, 155, 0.7);
    font-family: "Century Gothic";
}

.custom_input {
    width: 80%;
    margin-top: 150px;
    font-size: 19px;
    color: #cecece;
    font-family: "Century Gothic";
    background-color: transparent;
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#email {
    margin-top: 50px;
}

#text {
    resize: none;
    width: 80%;
    margin-top: 50px;
    height: 20%;
}

#confirm_button {
    width: 60%;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    height: 50px;
    font-family: "Century Gothic";
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 7px;
    border: none;
    transition: width 2s, background-color 1s, color 1s, letter-spacing 1s;
}

#confirm_button:hover {
    width: 50%;
    background-color: #1e1e3f;
    color: #e1deff;
    letter-spacing: 1px;
}

/*Главная часть*/
.main {
    width: 94%;
    height: 80vh;
    margin-bottom: 10vh;
}

/*Анимированная галерея ГМУ*/
.animated_block {
    position: relative;
    justify-content: left;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    background-color: black;
}

#anim_block {
    width: 100%;
}

.main_building img{
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

#autoAnimSliderImage {
    transform: translate(0);
    transition: transform 2s;
}

.gallery{
    align-items: center;
    justify-content: center;
    position: absolute;
    width: inherit;
    height: inherit;
}

.gallery p{
    font-size: 95px;
    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 1200ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 15rem;
    color: rgba(221, 226, 238, 1);
    outline: none;
    text-align: center;
}

.gallery p:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
}

/*Новости*/
.news{
    width: 94%;
    height: 80vh;
    margin-bottom: 10vh;
    background-color: rgba(30, 30, 63, 0.51);
    border-radius: 30px;
    flex-direction: column;
}

.title {
    /*background-color: aquamarine;*/
    height: 8em;
    width: 100%;
}

.title p{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 70px;
}

.content {
    justify-content: left;
    align-items: center;
    width: 100%;
    height: inherit;
    overflow: hidden;
    /*background-color: rgb(155, 179, 211);*/
    border-radius: 0 0 30px 30px;
    position: relative;
}

.cards {
    height: 100%;
    align-items: center;
    margin-left: 20px;
}

#anim_cards{
    transform: translate(0);
    transition: transform 2s;
}

.single_card {
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    cursor: pointer;
    height: 85%;
    width: 30vw;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    transition: opacity 1s;
}

.single_card:hover {
    opacity: 70%;
}

.news_image {
    width: 100%;
    height: 60%;
}

.news_image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.text_info {
    width: 100%;
    height: 40%;
    flex-direction: column;
    justify-content: space-between;
}

.text_info p {
    margin: 0;
}

#info {
    margin-top: 20px;
}

#date {
    font-weight: bold;
}

.direction_buttons {
    /*background-color: black;*/
    width: 100%;
    height: 5em;
    position: absolute;
    justify-content: space-between;

}

.direction_buttons img {
    width: 50px;
    opacity: 70%;
}

.direction_buttons button {
    opacity: 50%;
    cursor: pointer;
    border-radius: 100px;
    border-style: none;
    background-color: transparent;
}

.direction_buttons button:hover{
    opacity: 80%;
}

/*Учебная программа и заявка на звонок*/
.education{
    width: 94%;
    height: 80vh;
    margin-bottom: 10vh;
    background-color: rgba(30, 30, 63, 0.51);
    border-radius: 30px;
    flex-direction: column;
}

/*Нижнее меню*/

.footer{
    justify-content: space-between;
    width: 94%;
    height: 45vh;
    margin-bottom: 5vh;
    background-color: rgba(30, 30, 63, 0.51);
    border-radius: 30px;
}

.footer_card {
    width: 22%;
    height: 100%;
    flex-direction: column;
}

.footer_card h1 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer_text {
    font-size: 18px;
    word-wrap: break-word;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer_text p {
    margin: 0 0 9px;
    cursor: pointer;
}

#to_applicants{
    margin-left: 25px;
}

#contact_info {
    margin-right: 25px;
    text-align: right;
    align-items: flex-end;
}

#contact_info p {
    margin: 0 0 12px;
}

#contact_info a {
    text-decoration: none;
    color: #6680d2;
    font-weight: bold;
}

#contact_info a:hover {
    color: rgba(102, 128, 210, 0.57);
}

#phone_number {
    padding: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    border-style: none;
    text-decoration: none;
    cursor: pointer;
}


